# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists include:
- List Data Science Tools

Some of the popular languages that Data Scientists use are:


1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. panda
2. numpy 
3. scikit-learn

|Data Science Tools|
|:----------------:|
|Jupyter Notebook|
|Rstudio|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [6]:
200 / 60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Hanzhe Zhang